.myColrow2 {
    
    margin-left: 50px;
    margin-top: 50px;
    height: 400px;
    background-color: white;

}

.boxHeader {
   
    margin-top: 20px;
    height: 60px;
    border-bottom: lightgray solid 2px;


}

.boxHeaderText {
    color: #54b096;
    padding-top: 10px;
    
    font-weight: 800;
    
}

.boxBody {
    background-color: white;
    margin-top: 25px;
}

#image {
    float: left;
}